@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", sans-serif;
}

body {
  background-color: #D3DADC;
}

main {
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
  overflow: auto;
  overflow-y: hidden;
}

.hidden {
  display: none;
}

header {
  background-color: #455763;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropbtn {
  background-color:#D3DADC;
  color: #455763;
  padding: 6px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D6C9B4;
  min-width: 160px;
  right: 0;
  z-index: 1;
}

.dropdown-content p {
  color: #E8E2DA;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.info-logout-darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-right: 30px;
}

.info-logout-darkmode p {
  font-size: 20px;
  color: #E8E2DA ;
  border-right: #E8E2DA solid 1px;
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.info-logout-darkmode a {
  text-decoration: none;
  color: #E8E2DA;
  margin-right: 50px;
  font-weight: bold;
  font-size: 20px;
}

.trilho {
  width: 70px;
  height: 30px;
  background-color: #D6C9B4;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.trilho .indicador {
  width: 30px;
  height: 30px;
  background-color: #455763;
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.columns {
  display: flex;
  gap: 15px;
  margin-top: 50px;
  padding: 30px;
}

.column {
  width: 250px;
  background-color: #E8E2DA;
  height: 100dvh;
  border-radius: 8px;
}

.column__title {
  color: #455763;
  font-size: 0.9rem;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.column__cards {
  padding: 4px;
  height: 100%;
  border-radius: 5px;
}

.card {
  width: 100%;
  min-height: 70px;
  background-color: #D3DADC;
  border-radius: 5px;
  border: 1px solid #D6C9B4;
  box-shadow: 0 2px 2px #455763;
  padding: 12px 14px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #455763;
  margin-bottom: 5px;
}

.column--highlight {
  background-color: #D6C9B4;
}

.add-card-btn {
  margin: 10px;
  background-color: #455763;
  color: #E8E2DA;
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.add-card-btn:hover,
.add-column-btn:hover {
  background-color: #D6C9B4;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#new-column-title{
  background-color: #E8E2DA;
  width: 190px;
  border-radius: 5px;
}

.add-column{
  display: flex;
  flex-direction: row;
}

.add-column-btn{
  background-color: #455763;
  border-radius: 5px;
  color: #E8E2DA;
  padding: 2px;
}

i{
  width: 8%;
  cursor: pointer;
  color:#455763;
}

.excluir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7px;
}

.trilho.dark {
  background-color: #455763;
}

.trilho.dark .indicador {
  left: 40px;
  background-color: #D6C9B4;
}

body.dark {
  background-color: #455763;
}

header.dark{
  background-color:#273a48;
}

.dropbtn.dark{
  background-color: #455763;
  color: #E8E2DA;
}

.info-logout-darkmode.dark p{
  color: #D6C9B4;
  border-right: #D6C9B4 solid 1px;
}

.info-logout-darkmode.dark a{
  color: #D6C9B4;
}

#column1.dark, #column2.dark, #column3.dark, #column4.dark, .column.dark{
  background-color:#374a57;
}

#todo.dark, #doing.dark, #review.dark, #done.dark, .column__title.dark{
  color:#D6C9B4;
}

#novatarefa1.dark, #novatarefa2.dark, #novatarefa3.dark, #novatarefa4.dark, #add-column-btn.dark, .add-card-btn.dark{
background-color:#D6C9B4;
color: #273a48;
}

#new-column-title.dark{
background-color: #D6C9B4;
color: #273a48;
}

/* mudança do card */
.card-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card {
  resize: vertical;
  min-height: 70px;
}

.card-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

#trash1.dark, #trash2.dark, #trash3.dark, #trash4.dark, .bi-trash3-fill.dark, .excluir.dark{
  color: #D6C9B4;
}