@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", sans-serif;
}

body {
  min-height: 100vh;
  cursor: url(/imagem/cursor.png), pointer;
  background-color: #F2CBE0;
  background-image: url(/imagem/Design\ sem\ nome.png);
  background-size:cover;
}

main {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
  overflow: auto;
  min-height: calc(100vh - 70px);
}

.hidden {
  display: none;
}

header {
  background-color: #8F477B;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropbtn {
  background-color: #CB6D9A;
  color:#d6c9b4;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: url(/imagem/cursor2.png), pointer;  
  margin-left: 30px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#CB6D9A;
  height: 70vh;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  margin-left: 10px;
  min-width: 200px;
}

.dropdown-content a {
  color:#d6c9b4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: url(/imagem/cursor2.png), pointer;  
}

.dropdown-item {
  color: #455763;
}

.dropdown-content a:hover {
  background-color: #e8e2da;
  color: #CB6D9A;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.info-logout-darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-right: 30px;
}

.info-logout-darkmode p {
  font-size: 20px;
  color:#d6c9b4;
  border-right: #d6c9b4 solid 1px;
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.info-logout-darkmode a {
  text-decoration: none;
  color: #d6c9b4;
  margin-right: 50px;
  font-weight: bold;
  font-size: 20px;
  cursor: url(/imagem/cursor2.png), pointer;  
}

.trilho {
  width: 70px;
  height: 30px;
  background-color: #d6c9b4;
  border-radius: 50px;
  position: relative;
  cursor: url(/imagem/cursor2.png), pointer;  
}

.trilho .indicador {
  width: 30px;
  height: 30px;
  background-color:#CB6D9A;
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color:#8F477B;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 15px;
  color: #d6c9b4;
  margin: 7px;
}

.columns {
  display: flex;
  gap: 15px;
  margin-top: 50px;
  padding: 30px;
}

.column {
  width: 250px;
  background-color:#8F477B;
  border-radius: 8px;
  padding: 10px;
  height: fit-content;
  min-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.column__title {
  color:#d6c9b4;
  font-size: 0.9rem;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.column__cards {
  padding: 4px;
  height: 100%;
  border-radius: 5px;
}

.card-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.trash-container{
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.card {
  width: 100%;
  min-height: 70px;
  background-color: #F2CBE0;
  border-radius: 5px;
  border: 2px solid #d6c9b4;
  box-shadow: 0 2px 2px #CB6D9A;
  padding: 12px 14px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #8F477B;
  margin-bottom: 5px;
}

.card__title {
  font-size: 18px;
  font-weight: bold;
}

.card__description {
  font-size: 15px;
}

.card__title-input,
.card__description-input, .new-column-title {
  background-color: #F2CBE0;
  color: #8F477B;
  width: 200px;
  padding: 5px;
}

.column--highlight {
  background-color: #F2CBE0;
}

.add-card-btn {
  margin: 10px;
  background-color: #CB6D9A;
  color: #d6c9b4;
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: url(/imagem/cursor2.png), pointer;  
}

.add-card-btn:hover {
  background-color: #d6c9b4;
  color: #CB6D9A;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: url(/imagem/cursor2.png), pointer;  
}

.add-column {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  margin-top: 20px;
}

.bi-trash3-fill,
.excluir, .bi-pencil-square, .bi-plus-lg {
  width: 8%;
  cursor: url(/imagem/cursor2.png), pointer;  
  color:#d6c9b4;
}

.excluir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7px;
}

.divExcluir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7px;
}

.trilho.dark {
  background-color: #275A91;
  cursor: url(/imagem/cursordark2.png), pointer;
}

.trilho.dark .indicador {
  left: 40px;
  background-color: #FDC797;
}

body.dark {
  background-color: #012A61;
  cursor: url(/imagem/cursordark.png), pointer;
  background-image: url(/imagem/Design\ sem\ nome\ \(2\).png);
  background-size:cover;
}

header.dark {
  background-color: #021334;
}

.dropbtn.dark {
  background-color: #275A91;
  color: #FDC797;
  cursor: url(/imagem/cursordark2.png), pointer;
}

.dropdown-content.dark {
  background-color: #275A91;
  color: #FDC797;
}

.dropdown-content.dark a {
  color: #FDC797;
  cursor: url(/imagem/cursordark2.png), pointer;
}

.dropdown-content.dark a:hover {
  background-color: #FDC797;
  color: #275A91;
}

.info-logout-darkmode.dark p {
  color: #FDC797;
  border-right: #FDC797 solid 1px;
}

.info-logout-darkmode.dark a {
  color: #FDC797;
  cursor: url(/imagem/cursordark2.png), pointer;
}

.column.dark {
  background-color: #021334;
}

.column__title.dark {
  color: #FDC797;
}

.column__cards.dark {
  color: #012A61;
}

.bi-trash3-fill.dark,
.excluir.dark, .bi-pencil-square.dark, .bi-plus-lg {
  color: #FDC797;
  cursor: url(/imagem/cursordark2.png), pointer;
}

.card.dark{
  background-color: #275A91;
  color:#FDC797;
  border: 2px solid #012A61;
  box-shadow: 0 2px 2px #275a91;
}

.add-card-btn.dark, .add-column-btn.dark{
  background-color: #275a91;
  color: #FDC797;
  cursor: url(/imagem/cursordark2.png), pointer;
}

.add-card-btn.dark:hover,
.add-column-btn.dark:hover {
  background-color: #FDC797;
  color: #275A91;
}

.card__title-input.dark,
.card__description-input.dark, .new-column-title.dark {
  background-color: #275A91;
  color: #FDC797;
  width: 200px;
}

.column--highlight.dark {
  background-color:#FDC797;
}

.modal.dark{
  background-color: #021334;
}

.modal-content.dark{
  background-color: #012A61;
}

h1.dark{
  color: #FDC797;
}